/* Estilos do footer. */
/* ARQUIVO: estilos/rodape.css */

footer {
    padding: 1.5rem 2rem;
    text-align: center;
    border-top: 1px solid var(--cor-borda-suave);
    background-color: var(--cor-fundo-principal);
    font-size: 0.9rem;
    color: #888;
}

footer .destaque-azul {
    font-weight: 600;
}